<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список ситхов</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col pt-5">
                <h1>Список ситхов</h1>
                <div>
                    <table class="table table-sm">
                      <thead>
                        <tr>
                          <th scope="col">Имя ситха</th>
                          <th scope="col">Планета обучения</th>
                          <th scope="col">Рука Тени</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for sith in siths %}
                        <tr>
                          <td><a href="{% url 'recruit_list' sith.pk %}">{{ sith.sith_name }}</a></td>
                          <td>{{ sith.learning_planet }}</td>
                          <td>{{ sith.shadow_hand.name }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
                <div>
                    <a href="{% url 'index' %}"><button type="button" class="btn btn-outline-primary">Главная</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>